# FreeAPI Endpoint Configurations
FREEAPI_BASE_URL=https://api.freeapi.app/api/v1

# MongoDB Configuration (If running locally or using direct DB replication)
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=freeapi

# Databricks DBFS Local Sync Folders (For mounting/syncing local extraction to cloud)
LOCAL_LANDING_DIR=./storage/raw
DBFS_LANDING_PATH=/FileStore/import/freeapi/raw
DBFS_CHECKPOINT_PATH=/FileStore/import/freeapi/checkpoints
DBFS_SCHEMA_PATH=/FileStore/import/freeapi/schemas
